* {
  padding: 0px;
  margin: 0px;
}
.outer-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #dd88cf, #4b164c);
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container {
  padding: 20px;
  font-size: larger;
  text-align: center;
  min-height: 50vh;
  background: #f8e7f6;
  color: #4b164c;
  position: fixed;
  width: 50vw;
  border-radius: 10px;
}

.heading {
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}
.lead {
  font-size: 25px;
}

.showtime {
  margin-top: 10px;
  font-size: 30px;
}
